@font-face {
  font-family: inter;
  src: url(fonts/Inter.ttc);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  // BACK GROUND COLOR
  --primary-bg: #2c2c2c;
  --secondery-bg: #e5e5e5;

  // BUTTON BG
  --button-bg: #383838;

  // COLOR
  --primary-color: white;

  // PADING
  --padding-sm: 0.25rem;
  --padding-md: 0.75rem;
  --padding-lg: 1rem;
  --padding-xl: 1.25rem;
  --padding-xxl: 1.5rem;
  --padding-2xl: 2rem;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: inter;

  color: var(--primary-color);
}

main {
  width: 100%;
  height: 100%;
  background: var(--primary-bg);
  overflow: hidden;

  .bottom {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      min-width: 15rem;
      height: 100%;
    }

    .middle {
      position: relative;
      width: 80%;
      height: 100%;
      background-color: var(--secondery-bg);

      overflow: hidden;
    }

    .right {
      min-width: 15rem;
      height: 100%;
      padding: var(--padding-md);
      .position_contanier {
        border-bottom: 1px solid rgba(245, 245, 245, 0.377);
        padding-bottom: 1rem;
        .alignment {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          div {
            border-radius: 0.25rem;
            overflow: hidden;

            display: flex;
            gap: 5px;

            border: 1px solid rgba(245, 245, 245, 0.377);

            button {
              border: none;
              background-color: var(--button-bg);

              padding-inline: var(--padding-md);
              padding-block: var(--padding-sm);

              transition: all 0.3s linear;

              cursor: pointer;

              &:hover {
                background-color: #858585;
              }
            }
          }
        }

        .position {
          h4 {
            font-weight: 100;
            margin-block: 1rem;
          }

          .position_width_height {
            color: var(--secondery-bg);
            display: flex;
            gap: 1rem;

            div {
              padding: 0.5rem;
              background-color: var(--button-bg);
              display: flex;
              align-items: center;
              gap: 0.5rem;
              border-radius: 5px;

              border: 1px solid transparent;
              transition: all 0.3s linear;

              &:hover {
                border: 1px solid rgba(245, 245, 245, 0.377);
              }

              input {
                width: 5rem;
                background-color: transparent;
                outline: none;
                border: none;
                color: var(--secondery-bg);
              }
            }
          }
        }
      }

      .layout_contanier {
        border-bottom: 1px solid rgba(245, 245, 245, 0.377);
        padding-bottom: 1rem;
        h4 {
          font-weight: 100;
          margin-block: 1rem;
        }
        .layout_width_height {
          color: var(--secondery-bg);
          display: flex;
          gap: 1rem;

          div {
            padding: 0.5rem;
            background-color: var(--button-bg);
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 5px;

            border: 1px solid transparent;
            transition: all 0.3s linear;

            &:hover {
              border: 1px solid rgba(245, 245, 245, 0.377);
            }

            input {
              width: 5rem;
              background-color: transparent;
              outline: none;
              border: none;
              color: var(--secondery-bg);
            }
          }
        }
      }

      .opacity {
        border-bottom: 1px solid rgba(245, 245, 245, 0.377);
        padding-bottom: 1rem;
        h4 {
          font-weight: 100;
          margin-block: 1rem;
        }
        div {
          padding: 0.5rem;
          background-color: var(--button-bg);
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          border-radius: 5px;

          border: 1px solid transparent;
          transition: all 0.3s linear;

          &:hover {
            border: 1px solid rgba(245, 245, 245, 0.377);
          }

          img {
            width: 1rem;
          }
          input {
            width: 5rem;

            background-color: transparent;
            outline: none;
            border: none;

            color: var(--secondery-bg);
          }
        }
      }

      .fill {
        border-bottom: 1px solid rgba(245, 245, 245, 0.377);
        padding-bottom: 1rem;
        h4 {
          font-weight: 100;
          margin-block: 1rem;
        }

        input {
          outline: none;
          border: none;

          transition: all 0.3s linear;
          cursor: pointer;
          &:hover {
            border: 1px solid rgb(236, 236, 236);
          }
        }
      }

      .stroke {
        border-bottom: 1px solid rgba(245, 245, 245, 0.377);
        padding-bottom: 1rem;
        h4 {
          font-weight: 100;
          margin-block: 1rem;
        }

        input {
          outline: none;
          border: none;

          transition: all 0.3s linear;
          cursor: pointer;
          &:hover {
            border: 1px solid rgb(236, 236, 236);
          }
        }
      }
    }

    .floating_toolbar {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999;

      border-radius: 0.75rem;

      background-color: var(--primary-bg);
      padding-block: var(--padding-md);
      padding-inline: var(--padding-xl);

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .icon {
        width: 2rem;
        height: 2rem;
        padding: var(--padding-sm);
        border-radius: 5px;
        border: none;

        aspect-ratio: 1/1;

        transition: all 0.3s linear;

        cursor: pointer;
        &:hover {
          background: #0c8ce9;
        }

        &[data-active="true"] {
          background: #0c8ce9;
        }

        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.add_star {
  position: relative;
  display: block;
  width: 0;
  height: 0;

  margin: 50px 0;
  color: #f5b301;

  border-right: 50px solid transparent;
  border-bottom: 35px solid #f5b301;
  border-left: 50px solid transparent;

  transform: rotate(35deg);

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: -32px;

    border-bottom: 40px solid #f5b301;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    transform: rotate(-35deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -52px;

    border-right: 50px solid transparent;
    border-bottom: 35px solid #f5b301;
    border-left: 50px solid transparent;

    transform: rotate(-70deg);
  }
}
